doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tienda de ropa
        link(rel="stylesheet", href="/styles.css") 
    body
        include ./navBar.pug
        main
            div(class="product-detail") 
                img(src=`${product.image}` alt=`${product.name}` class="img-detail")
                section(class="product-info")
                    h1 #{product.name}
                    p #{product.price}€
                section(class="product-info")
                    p #{product.description}
                section(class="product-info")
                    p #{product.size}
                a(href="/products}") Volver atrás